<div class="create__questions">
  <div class="create__questions--container">

    <div class="create__questions--progress"></div>

    <div class="create__questions--input-question">
      <input type="text" placeholder="Type your question here" />
    </div>

    <div class="input__answers">
      <div class="input-answer">
        <input type="text" placeholder="Answer" />
      </div>
      <div class="input-answer">
        <input type="text" placeholder="Answer" />
      </div>
      <div class="input-answer">
        <input type="text" placeholder="Answer" />
      </div>
      <div class="input-answer">
        <input type="text" placeholder="Answer" />
      </div>
    </div>

    <div class="btn next-btn"></div>

  </div>
</div>
